header {
    background-color: blue;
    height: 80px;
}

footer {
    background-color: red;
    height: 80px;
    width: auto;

}

.rightSideBar {
    background-color: yellow;
    height: 500px;
    width: 100px;
    float: right;
}

.leftSidebar {
    background-color: pink;
    height: 500px;
    width: 100px;
}

.middleBody {
    background-color: blueviolet;
    height: 500px;
    width: 700px;
    margin-left: 100px;
    margin-bottom: -500px;
}