header {
    background-color: blue;
    height: 80px;
}

footer {
    background-color: red;
    height: 80px;
    width: auto;

}

.grid-container {
    padding: 40px;
    column-gap: 20px;
    row-gap: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
}

.grid-item {
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
}